
<app-navbar class="position-fixed z-3 top-0 w-100"></app-navbar>

<section class="container mt-100">
     
    <main >    
        <router-outlet></router-outlet>

        @if(LoggedUser){
            <div class="position-fixed bottom-0 end-0 m-5 p-4 bg-primary rounded-circle pointer" routerLink="create-post">
                <i class="fa-solid fa-plus text-light" ></i>
            </div>
        }  
    </main>

    
</section>


<ngx-spinner class="spinner-style" size = "medium"  type = "ball-clip-rotate" [fullScreen] = "true"><p class="text-light" > Loading... </p></ngx-spinner>
